{% extends "base.html" %}

{% block titulo %}
<title>Posts</title>
{% endblock titulo %}

{% block heading %}
<h1>Posts</h1>
<span class="subheading">Search Stories & Poems</span>
{% endblock heading %} 

{%block contenido%}
<form action="{%url 'buscar_post'%}" method="post">
    {% csrf_token %}
    <input type="text" name="search">
    <input type="submit" class="btn btn-dark" value="Search">
</form>
<br>
<a class="btn btn-light" href="{%url 'posts'%}">See All</a>
<br>
<br>

<h1>Stories</h1>

{%if cuento%}
    {%for story in cuento%}
        <!-- Post preview-->
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">{{story.name}}</h2>
                <h3 class="post-subtitle">{{ story.text|truncatewords:10 }}</h3>
            </a>
            <p class="post-meta">
                Posted by
                <a href="#!">{{story.author}}</a>
                on {{story.date}}
            </p>
            <form action="{%url 'eliminar_cuento' story.id%}" method="post">
                {% csrf_token %}
                <input type="submit" value="Delete" class="btn btn-link">
            </form>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
    {%endfor%}
{%else%}
    <p>There are no published stories yet...</p>
{%endif%}

<h1>Poems</h1>

{%if poema%}
    {%for poem in poema%}
        <!-- Post preview-->
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">{{poem.name}}</h2>
                <h3 class="post-subtitle">{{ poem.text|truncatewords:10 }}</h3>
            </a>
            <p class="post-meta">
                Posted by
                <a href="#!">{{poem.author}}</a>
                on {{poem.date}}
            </p>
            <form action="{%url 'eliminar_poema' poem.id%}" method="post">
                {% csrf_token %}
                <input type="submit" value="Delete" class="btn btn-link">
            </form>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
    {%endfor%}
{%else%}
    <p>There are no published poems yet...</p>
{%endif%}

{% comment %} <ul>
    {%if poema%}
        {%for poem in poema%}
            <li>
                <h4>{{poem.name}}</h4>
                <h5>By {{poem.author}}</h5>
                <p>
                    {{poem.text}}
                </p>
                <p>
                    {{poem.date}}
                </p>
            </li>
        {%endfor%}
    {%else%}
            <p>There are no published poems yet...</p>
    {%endif%}
</ul> {% endcomment %}
{% endblock contenido %}