{% extends "base.html" %}

{% block titulo %}
<title>Posts</title>
{% endblock titulo %}

{% block heading %}
<h1>Posts</h1>
<span class="subheading">Search Stories & Poems</span>
{% endblock heading %} 

{%block contenido%}
<form action="{%url 'buscar_post'%}" method="post">
    {% csrf_token %}
    <input type="text" name="search">
    <input type="submit" class="btn btn-dark" value="Search">
</form>
<br>
<a class="btn btn-light" href="{%url 'posts'%}">See All</a>
<br>
<br>

{%if object_list%}
    <h1>Stories</h1>

    {%for story in object_list%}
        {%if story.post == 1%}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{%url 'ver_post' story.id%}">
                    <h2>{{story.title}}</h2>
                    <h3 class="post-subtitle">By {{ story.author }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{story.author}}</a>
                    on {{story.date}}
                </p>
                
                <form action="{%url 'eliminar_post' story.id%}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-link" value="Delete">
                </form>

                <a href="{% url 'editar_post' story.id%}" class="btn btn-link">Edit</a>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        {%endif%}
    {%endfor%}

    <h1>Poems</h1>

    {%for poem in object_list%}
        {%if poem.post == 2%}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{%url 'ver_post' poem.id%}">
                    <h2>{{poem.title}}</h2>
                    <h3 class="post-subtitle">By {{ poem.author }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{poem.author}}</a>
                    on {{poem.date}}
                </p>
                <form action="{%url 'eliminar_post' poem.id%}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-link" value="Delete">
                </form>
                <a href="{% url 'editar_post' poem.id%}" class="btn btn-link">Edit</a>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        {%endif%}
    {%endfor%}
{%else%}
    <p>There is nothing published yet...</p>
{%endif%}
{% endblock contenido %}